
*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    display: block;
    
}
body{
    line-height: 1.4;
    margin: 0 1.1rem 0 1.1rem;
    color: darkcyan;
}
.container{
    width: 100%;
    margin: 0 auto;
   
}
header{
        height: 100vh;
        background: rgb(0, 0, 0, 0.6);
        background-image: url("piture1.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-origin: inherit;
        background-position: center;
        background-size: cover;     
}
.navigation{
    background: rgb(0, 0, 0, 0.6);
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.navbar-nav{
    padding: -0.2rem 0 0.2rem 0;
}
.navbar-nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navbar-nav ul li a{
display: inline-block;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-weight: 500;
font-size: 1.2rem;
margin: 0.5rem;
letter-spacing: 1px;
color: #fff;
padding-right: 1.1rem;
padding-left: 1.1rem;
transition: opacity 0.5s ease;
}
.navbar-nav ul li a:hover{
    opacity: 0.7;
    color: #f1f1f1;
}
.banner{
    /* color: #fff; */
    margin-top: 9%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:rgba(237, 237, 238, 0.3);
    
}
.banner-cantainer{
    width: 50%;
    justify-content: center;
    font-size:1rem;
    color: black;
}
.banner-cantainer p{
    z-index: 20;

}
.container-design-img{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.design-item{
    cursor: pointer;
    margin: 0;
}
.design-img{
    position: relative;
    overflow: hidden;
}
.design-img img{
    transition: all .5s ease;
}
.title{
    text-align: left;
    margin: 0 auto;
    padding: 1.2rem;
    color:black ;
    
}
.input_class{
    width: 300px;
    height: 30px;
    background-color: #e6e6e6;
   border: none;
}
.title11{
    text-align: center;
    margin: 0 auto;
    padding: 1.2rem;
    color:black ;
    background-color: #e6e6e6;
    
}
.title12{
    margin: 0 auto;
    padding: 1.5rem;
    color:black ;
    background-color: #e6e6e6;
    height: 50px;
}
.div_button{
    width: 100%;
    height: 80px;
}
.div_button input{
    width: 200px;
    height: 50px;
    margin: 0 500px;
}
.span_i i{
width: 50px;
color:black;
}
.title p{
    text-align: center;
}
.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
}
.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    content: "";
    z-index: 2;
    top: 10px;
    left: 10px;
    background-color: black;
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.1rem;

}
.design-title-message{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
}
.design-title-message a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;  
}

